layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }

    tab name="codex" {
        pane split_direction="vertical" {
            pane name="codex0" {
                command "codex"
            }
            pane name="codex1" {
                command "codex"
            }
        }
    }

    tab name="nvim" {
        pane name="nvim" {
            command "nvim"
            args "."
        }
    }

    tab name="server" {
        pane name="server" {
            command "bun"
            args "dev"
        }
    }

    tab name="terminal" {
        pane
    }
}
