---
import clsx from 'clsx';
import NavV2 from '@src/components/NavV2';
import Seo from '@src/components/Seo';
import HtmlLayout from '@src/layouts/Html.astro';
import BodyLayout from '@src/layouts/Body.astro';
import HeadLayout from '@src/layouts/Head.astro';
import Footer from '@src/components/Footer';
import { getPostsGroupedByYear } from '@src/domain/content';
import PostItem from '@src/components/PostItem';
import type { Post } from '@contentlayer/generated';

const postsByYear = getPostsGroupedByYear();
const years = Object.keys(postsByYear)
  .map(Number)
  .sort((a, b) => b - a);
---

<HtmlLayout>
  <HeadLayout>
    <Seo
      title="Blog - Shivek Khurana"
      subTitle="All writings"
      authorName="Shivek Khurana"
      heroImg="/img/og.png"
    />
  </HeadLayout>

  <BodyLayout>
    <NavV2 client:load />
    <main class={clsx('w-11/12 mx-auto lg:w-10/12 xl:w-8/12', 'mt-16')}>
      <section class="font-mlm-roman">
        <h1 class="text-2xl font-bold font-mlm-roman mb-8">Blog</h1>
        {
          years.map((year) => {
            const posts = postsByYear[year];
            return (
              <div class="mb-12">
                <div class="font-bold text-xs opacity-60 mt-8 mb-4">{year}</div>
                {posts.map((post: Post) => (
                  <PostItem
                    post={post}
                    client:load
                  />
                ))}
              </div>
            );
          })
        }
      </section>
    </main>
    <Footer />
  </BodyLayout>
</HtmlLayout>
