---

---

<body
  class="overflow-x-hidden selection:bg-fuchsia-100 selection:text-fuchsia-900"
  vaul-drawer-wrapper
>
  <!-- <div
    class="bg-black h-auto min-h-8 flex items-center px-2 sm:px-4 text-white text-xs sm:text-sm justify-center text-center py-1.5 sm:py-0"
  >
    https://krimlabs.com has been migrated to https://shivekkhurana.com
  </div> -->
  <div class="bg-white rounded-t-lg">
    <slot />
  </div>
</body>
